#review-container {
    border-radius: 6px;
    flex-grow: 1;
    margin-left: 1rem;
    padding-top: 0;
    width: auto;
    margin-top: 2rem;
}

#review-container p {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

#review-container #stars-container {
    text-align: center;
}


#review-container textarea {
    width: 90%;
    height: 20%;
    margin-left: 0 !important;
}

#review-container input[type="button"] {
    float: right;
    margin: 0;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

#stars-container {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 0.5rem;
}

#stars-container input {
    width: 1.7rem;
    height: 1.5rem;
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
}

#other-reviews {
    background-color: rebeccapurple;
    max-height: 21rem;
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 5px !important;
}

#other-reviews h3 {
  text-align: center;
}


.reviews-container {
    border-radius: 8px;
    background-color: rgb(78, 38, 117);
    box-shadow: inset 0px 2px 4px #0005;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.reviews-top {
    display: flex;
}

.reviews-email {
    font-weight: bold;
    margin: 0.5rem;
}

.reviews-date {
    margin: 0.5rem;
    margin-left: 20rem;
}

.reviews-rating {
    scale: 1.2;
    translate: 16px 8px;
}

.reviews-text {
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
}
