
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }

  
  body{
    text-align: center;
  }

  .search{
    margin-right: 150px;
    transition: background-color 0.3s ease;
  }

  .filter{
    margin-right: 20px;
    padding-bottom: 20px;
  }

  .filter select{
    margin-left: 10px;
  }


  li{
    background-color: rgba(128, 128, 128, 0.178);
    margin: 25px;
    font-size: 20px;
    
  }

  .movie{
    margin-right: 30vh;
    margin-left: 30vh;
  }
  
  
  .page {
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(255, 255, 255); 
    background-color: rgba(128, 128, 128, 0.233);
    font-size: 10px !important;
    justify-content: center;
  }
  
  select{
    border-radius: 5px;
    margin: 10px;
  }

  label{
    margin: 40px;
  }

  input{
    border-radius: 5px;
  }
  
