/* Home.css */
.home-container {
  text-align: center;
  padding: 20px;
  margin-top: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
  background-color: #f4f4f4;
  border-radius: 1vh;
}

.home-header {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.home-content {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.home-content ul {
  list-style-type: none;
  padding: 0;
}

.home-content li {
  margin: 10px 0;
  background-color: #f4f4f4 !important;
}

.home-action {
  margin-top: 20px;
}

.home-action button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.home-action button:hover {
  background-color: #0056b3;
}

.trending-movies{
  color: black;
}

.trending-movie{
 
  margin: 40px;
  max-height: 30rem;
  max-width: 15rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.trending-movie:hover{
  transform: scale(1.05);
}

.movie-list {
  border-top: 2px solid rgb(229, 229, 229);
  border-left: 2px solid rgb(229, 229, 229);
  border-right: 2px solid rgb(229, 229, 229);
  border-bottom: 2px solid rgb(229, 229, 229);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
}
